{
	"gui": {
		"background": {
			"type": "background",
			"fileHeader": "/bees/interface/beeexaminer/header.png",
			"fileBody": "/bees/interface/beeexaminer/body3.png",
			"fileFooter": "/bees/interface/beeexaminer/footer.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"press": "/interface/xpress.png",
			"position": [105, 105]
		},
		"computeLabel": {
			"type": "label",
			"value": "^cyan;Computing Units:^reset;",
			"hAnchor": "left",
			"fontSize" : 7,
			"position": [13, 85]
		},
		"computeGrid": {
			"type": "itemgrid",
			"slotOffset": 1,
			"position": [12, 65],
			"dimensions": [4, 1],
			"spacing": [24, 19],
			"backingImage": "/interface/inventory/grayborder.png"
		},
		"inputLabel": {
			"type": "label",
			"value": "Input:",
			"hAnchor": "left",
			"fontSize" : 7,
			"position": [13, 57]
		},
		"itemGrid": {
			"type": "itemgrid",
			"position": [12, 37],
			"dimensions": [1, 1],
			"spacing": [19, 19],
			"backingImage": "/interface/inventory/grayborder.png"
		},
		"statuslabel": {
			"type": "label",
			"value": "Status:",
			"hAnchor": "left",
			"fontSize" : 7,
			"position": [35, 46]
		},
		"status": {
			"type": "label",
			"value": "",
			"hAnchor": "left",
			"fontSize" : 6,
			"position": [35, 39]
		},
		"outputLabel": {
			"type": "label",
			"value": "Output:",
			"hAnchor": "left",
			"fontSize" : 7,
			"position": [13, 26]
		},
		"itemGrid2": {
			"type": "itemgrid",
			"slotOffset": 5,
			"position": [12, 6],
			"dimensions": [5, 1],
			"spacing": [19, 19],
			"backingImage": "/interface/inventory/grayborder.png"
		}
	},

    "scriptWidgetCallbacks" : [ "startResearch" ],
    "scripts" : ["/interface/avaliexaminer/avali_examiner.lua"],
	"scriptDelta" : 10
}
