{
	"gui": {
		"background": {
			"type": "background",
			"fileHeader": "/bees/interface/beeexaminer/header.png",
			"fileBody": "/bees/interface/beeexaminer/body3.png",
			"fileFooter": "/bees/interface/beeexaminer/footer.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"press": "/interface/xpress.png",
			"position": [105, 78]
		},
		"inputLabel": {
			"type": "label",
			"value": "^cyan;Input & Boost:^reset;",
			"hAnchor": "left",
			"fontSize" : 7,
			"position": [13, 63]
		},
		"itemGrid": {
			"type": "itemgrid",
			"position": [12, 42],
			"dimensions": [3, 1],
			"spacing": [24, 19],
			"backingImage": "/interface/inventory/grayborder.png"
		},
		"statuslabel": {
			"type": "label",
			"value": "Status:",
			"hAnchor": "left",
			"fontSize" : 7,
			"position": [35, 51]
		},
		"status": {
			"type": "label",
			"value": "",
			"hAnchor": "left",
			"fontSize" : 6,
			"position": [35, 44]
		},
		"outputLabel": {
			"type": "label",
			"value": "^orange;Output:^reset;",
			"hAnchor": "left",
			"fontSize" : 7,
			"position": [13, 31]
		},
		"itemGrid2": {
			"type": "itemgrid",
			"slotOffset": 3,
			"position": [12, 11],
			"dimensions": [3, 1],
			"spacing": [24, 19],
			"backingImage": "/interface/inventory/grayborder.png"
		}
	},

    "scriptWidgetCallbacks" : [ "startResearch" ],
    "scripts" : ["/interface/avaliexaminer/avali_examiner.lua"],
	"scriptDelta" : 10
}
